@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

@media (max-width:600px) {
    img{
        width:70%;   
        height: 70%;
    }
    body{
        font-size: smaller;
        margin: 0px;
    }
    .link{
        text-decoration: none;
        color:white;
        padding: 0.2rem 0.2rem;
        border-radius: 0.2rem;
    }
    .list-item-inline{
        display: block;
        padding: 0rem 0rem;
    }
    
    .navigation .nav-pills{
        text-align: center;
    }
}
/* Navigation Decoration */
.navigation{
    background-color: blueviolet;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
}

.navigation .list-non-bullets{
    list-style: none;

}
.navigation .list-non-bullets .link{
    text-decoration: none;
    color: white;
    display: inline;
}
.list-item-inline{
    display: inline;
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
}

.navigation .nav-pills{
    text-align: right;
}

.sachin{
    color: violet;
    
}
.list-item-inline .link{
    text-decoration: none;
}
.link-primary{
    text-decoration: none;
    color:white;
    padding: 0.5rem 0.5rem;
    border-radius: 0.4rem;
}

.link-secondary{
    text-decoration: none;
    color:white;
    padding: 0.5rem 0.5rem;
    border-radius: 0.4rem;

}

.link:hover{

    color: black;
    background-color:rgb(223, 61, 88);
    padding: 0.5rem 0.5rem;
    border-radius: 0.4rem;

}
.hero{
    text-align: center;
    color: gray;
}

.hero .web-dev{
    color: blueviolet;
    font-weight:bolder;
}

.section-design{

    padding: 0.1rem 0.1rem;
    background-color: rgb(235, 227, 227);
    border-radius: 1rem;
}
.section-design h5{
    text-align: center;
    padding: 5px 5px;
}
.section-design h3{
    text-align: center;

}

.section-design p{
      padding-top: 5px;
   padding-bottom: 5px;
   text-align: center;
}

.link-active{
    font-weight: bolder;
    color: pink;
    background-color:greenyellow;
    padding: 0.5rem 0.5rem;
    border-radius: 0.4rem;
}

.section-design .link{
    color: blueviolet;
    font-weight: bold;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-width: 5px;
    border-color:blueviolet
    border-radius: 0.7rem;
    border-style:solid;
}

.section-design2 h3{
    text-align: center;
}
.container-center{
    padding: 0.4rem 0.4rem;
}

.container-center a{
    margin: auto;
}

.section-design2 p{
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    text-align: center;
 }

.section-design2 .link{
    color:white;
    font-weight: bold;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: blue;
    border-radius: 1rem;
    margin: 5rem;
}
