@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

@media (max-width:600px) {
    img{
        width:70%;   
        height:70%;
    }
    body{
        font-size: smaller;
        margin: 0px;
    }
    .link{
        text-decoration: none;
        color:white;
        border-radius: 0.2rem;
    }
    .list-item-inline{
        display: block;
       
    }
    
    .navigation .nav-pills{
        text-align: center;
    }
}
/* Navigation Decoration */
.navigation{
    background-color: blueviolet;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
}

.navigation .list-non-bullets{
    list-style: none;

}
.navigation .list-non-bullets .link{
    text-decoration: none;
    color: white;
    display: inline;
}
.list-item-inline{
    display: inline;
    padding: 0.2rem 0rem 0.2rem 0rem;
}

.navigation .nav-pills{
    text-align: center;
}

.sachin{
    color: rgb(240, 10, 10);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bolder;
}

.section-design .container-center .imp-links{
    text-align: center;
}
.section-design2 .container-center .imp-links{
    text-align: center;
}
.link-primary{
    text-decoration: none;
    color:white;
    padding: 0.5rem 0.5rem;
    border-radius: 0.4rem;
}

.link-secondary{
    text-decoration: none;
    color:white;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 0.4rem;
    border-color: blueviolet;
    padding: 0.5rem 0.5rem;
    border-radius: 0.4rem;
    

}

.link:hover{

    color: black;
    background-color:white;
    padding: 0.5rem 0.5rem;
    border-radius: 0.4rem;

}
/* .link-primary:hover{

    color: black;
    background-color:white;
    padding: 0.5rem 0.5rem;
    border-radius: 0.4rem;

} */
.hero{
    text-align: center;
    color: gray;
}

.hero .web-dev{
    color: blueviolet;
    font-weight:bolder;
}

.section-design{
    padding: 0.1rem 0.1rem;
    background-color: rgb(235, 227, 227);
    border-radius: 1rem;
}
.section-design h5{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.section-design h3{
    text-align: center;

}

.section-design p{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.link-active{
    font-weight: bolder;
    color: white;
    background-color:black;
    /* padding: 0.5rem 0.5rem; */
    border-radius: 0.4rem;
}

.section-design .link-primary{
    color: white;
    background-color: blueviolet;
    font-weight: bold;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5em;
    text-align: center;
}

.section-design2 h3{
    text-align: center;
}
.section-design2 .centered-link{
    text-align: center;
}
.container-center{
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.section-design2 p{
    text-align: center;
 }

.section-design2 .link{
    color:white;
    font-weight: bold;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: rgb(125, 125, 224);
    border-radius: 0.6rem;
    
}
